[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/coeurl"]
	path = vendor/coeurl
	url = https://nheko.im/nheko-reborn/coeurl.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
